<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UNDER DEVELOUPMENT</title>
	<style>
		span{
			font-family: andale mono;
        	border-radius: 10px;
        	position: absolute;
        	left: 50%;
        	top: 50%;
        	transform: translate(-50%, -50%);
        	padding: 10px;
        	color: #0592F8;
        	font-size: 50px;
		}
	</style>
</head>
<body style="background-color: #d6ebf6;">
<span>
	THIS PAGE IS STILL UNDER DEVELOUPMENT
</span>
</body>
</html>